apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090  # Container name from docker-compose
    isDefault: true
    editable: true
    jsonData:
      httpMethod: POST
      timeInterval: 5s